td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
table td {
    width: 200px;
    height: 40px;
    line-height: 40px;
}

table {
    text-align: center;
}

td:hover {
    background-color: black;
    color: white;
}